/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 25px;
}
body{
    margin-bottom: 50px;
}

.clearfix::after{
    display: table;
    CONTENT:'';
    CLEAR: BOTH;
}

/* structure */
.container{
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.page-header{
    width: 100%;
    margin-bottom: 30px;
}
/* spotlight */
.spotlight{
    width: 100%;
    background-image: url(../img/banner.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: 50px;
}

.spotlight-content{
    height: 30px;
    width: 500px;
    position: absolute;
    bottom: 100px;
    left: 50px;
}
.header-box{
    width: 100%;
    height: 70px;
    background-color: #abcfe7;
    margin-bottom: 10px;
}
.sidebar{
    height: 450px;
    width: calc(1200px / 5);
    background-color: #abcfe7;
    float: left;
}

#middle-block{
    width: calc(1200px / 5 * 3 - 20px);
    height: 450px;
    background-color: #abcfe7;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    background-color:#8801fe;
    height: 50px;
    width: 100%;
}

/* Logos */

#logo-neori{
    height: 75px;
    width: 175px;
    margin-right: auto;
}

li,a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: grey;
    font-size: 20px;
    margin: 5px;
}

ul{
    margin-top: 30px;
}
